<html>
<head>
    <meta charset="utf-8">
    <title>Welcome and Choose a Course</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
        .error-msg{
            color: red;
        }
        .item{
            /*display: flex;*/
            /*justify-content: space-between;*/
        }
    </style>
</head>
<body>
<header>
    <h1>Courses List</h1>

    <style>
        a{
            text-decoration: none;
            color: black;
        }
    </style>
</header>
<main>
    <h2>Edit Course:</h2>

    <table>
        <thead>

        </thead>
        <tbody>
            <tr th:each="course : ${courses}">
                <td th:text="${course.getName()}"></td>
                <td>
                    <form th:method="GET" th:action="@{'/courses/edit-form/{id}' (id=${course.getId()})}">
                        <input type="submit" value="Edit">
                    </form>
                </td>
                <td>
                    <form th:method="DELETE" th:action="@{'/courses/delete/{id}' (id=${course.getId()})}">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

    <button><a href="/courses/add-form">Add Course</a></button>


    <h2>Choose course:</h2>

    <form name="form1" th:method="POST" th:action="@{/listCourses}">
        <div th:each="course : ${courses}">
            <input type="radio" th:text="${course.getName()}" name="courseId" th:value="${course.getId()}">
        </div>

        <input type="submit" name="Submit">
    </form>

    <div th:if="${hasError}" class="error-msg">
        <p th:text="${error}"></p>
    </div>
    <br/>
    <!--    <a href="/АddStudent">Submit</a>-->

    <button><a href="/enrollment">Search course or student</a></button>
</main>
</body>
</html>